{% extends "base.html" %}

{% block title %}Home{%endblock%}

{%block content%}
    <h2>Cursus Pagina</h2>
    <p>This is your course page</p>
    <ul>
        <form method="POST">
            {% for cursus, korting in zip(cursussen, kortingen) %}
            <li>{{ cursus }}
                {% if current_user.role == 'klant' %}
                <label for="klant_inschrijving">
                    <input type="checkbox" name="cursussen" value="{{ cursus }}" ><p2>       {{ korting }} korting! </p2>
                    Meld je aan voor deze cursus!
                </label>
                {% endif %}
                <br>
            </li>
        {% endfor %}
        {% if current_user.role == 'klant' %}
        {{ form.submit() }}
        {% endif %}
        </form>
    </ul>
{%endblock%}