{% extends "base.html" %}

{% block title %}Lessen{%endblock%}

{%block content%}
    <h2>Les Pagina</h2>
    <p>This is your lesson page</p>
    
    <form method="post">
        <select name="cursus" required>
            <option value="" disabled selected>Selecteer een cursus...</option> 
            {% for cursus in cursussen %}
                <option value="{{ cursus }}">{{ cursus }}</option>
            {% endfor %}
        </select>
        <select name="docent_naam" required>
            <option value="" disabled selected>Selecteer een docent...</option> 
            {% for docent_naam in docent_namen %}
                <option value="{{ docent_naam }}">{{ docent_naam }}</option>
            {% endfor %}
        </select>
        <select name="locatie" required>
            <option value="" disabled selected>Selecteer een locatie...</option> 
            {% for locatie in locaties %}
                <option value="{{ locatie }}">{{ locatie }}</option>
            {% endfor %}
        </select>
        <input type="text" id="datetime-picker" name="datetime" placeholder="Selecteer datum en tijd" value="{{ geselecteerde_tijd }}">
        <select name="klanten" multiple required>
            {% for klant_naam in klant_namen %}
            <option value="{{ klant_naam }}">{{ klant_naam }}</option>
            {% endfor %}
        </select>
        <button type="submit">Verzenden</button>
    </form>



    <!-- Flatpickr JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#datetime-picker", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
            locale: "nl",
            minuteIncrement: 15
        });
    </script>
    
{%endblock%}