<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}De titel{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <header>
    <p>Navigatie</p>
    </header>
    <body>
	<ul>
	{% for message in get_flashed_messages()%}
	<li>{{messages}}</li>
	{% endfor %}
	</ul>
        {% block content %}
        <h1>De pagina</h1>
        <p>footer</p>
        {% endblock %}
        <footer>
            <p>&copy; 2025 AudioZ</p>
        </footer>
    </body>
</html>
