{% extends "base.html" %}

{% block title %}Lessen{%endblock%}

{%block content%}
    <h2>Les Pagina</h2>
    <p>This is your lesson page</p>
    <form method="post">
        <select name="taal" required>
            <option value="" disabled selected>Selecteer een taal...</option> 
            {% for taal in talen %}
                <option value="{{ taal }}">{{ taal }}</option>
            {% endfor %}
        </select>
        <select name="docent_naam" required>
            <option value="" disabled selected>Selecteer een docent...</option> 
            {% for docent_naam in docent_namen %}
                <option value="{{ docent_naam }}">{{ docent_naam }}</option>
            {% endfor %}
        </select>
        <select name="locatie" required>
            <option value="" disabled selected>Selecteer een locatie...</option> 
            {% for locatie in locaties %}
                <option value="{{ locatie }}">{{ locatie }}</option>
            {% endfor %}
        </select>
        <select name="tijdstip" required>
            <option value="" disabled selected>Selecteer een tijdstip...</option> 
            {% for tijd in tijdstippen %}
                <option value="{{ tijd }}">{{ tijd }}</option>
            {% endfor %}
        </select>
        <select name="klant" required>
            <option value="" disabled selected>Selecteer een klant...</option> 
            {% for klant_naam in klant_namen %}
                <option value="{{ klant_naam }}">{{ klant_naam }}</option>
            {% endfor %}
        </select>
        <button type="submit">Verzenden</button>
    </form>
    
{%endblock%}